.container{
    text-align: justify;
}
.title{
    margin: 20px 0 30px 0;
    font-weight: bold;
    font-size: 40px;
}
.desc{
    font-size: 16px;
    color: #000;
    line-height: 1.5rem;
}
#more {display: none;}
#myBtn:hover{
    width:150px;
    text-decoration: underline;
    color:blue;
background-color:chartreuse
}